@let desktopMenu = ('desktopMenu' | dcLayoutSlot)();
@let mobileMenu = ('mobileMenu' | dcLayoutSlot)();

<mat-toolbar class="dc-header__container">
  @for (item of ('headerLeft' | dcLayoutSlot)(); track item) {
    <ng-container [ngTemplateOutlet]="item.template" />
  }

  <div class="dc-header__center">
    @for (item of ('headerCenter' | dcLayoutSlot)(); track item) {
      <ng-container [ngTemplateOutlet]="item.template" />
    }
  </div>

  @for (item of ('headerRight' | dcLayoutSlot)(); track item) {
    <ng-container [ngTemplateOutlet]="item.template" />
  }

  @if (desktopMenu.length) {
    <div class="dc-header__desktop-menu-slot">
      @for (item of ('desktopMenu' | dcLayoutSlot)(); track item) {
        <ng-container [ngTemplateOutlet]="item.template" />
      }
    </div>
  }

  @if (mobileMenu.length) {
    <button
      type="button"
      matIconButton
      (click)="mobileMenuSlotService.toggle()"
      class="dc-header__mobile-menu-toggle"
    >
      <mat-icon>
        @if (mobileMenuSlotService.opened()) {
          close
        } @else {
          more_vert
        }
      </mat-icon>
    </button>
  }
</mat-toolbar>
