@let panelLeftItems = ('panelLeft' | dcLayoutSlotItems)();
@let panelRightItems = ('panelRight' | dcLayoutSlotItems)();

@if (panelLeftItems.length) {
  <div class="dc-main__panel dc-main__panel--left">
    @for (item of panelLeftItems; track item) {
      <ng-container [ngTemplateOutlet]="item.template" />
    }
  </div>
}

@if (panelRightItems.length) {
  <div class="dc-main__panel dc-main__panel--right">
    @for (item of panelRightItems; track item) {
      <ng-container [ngTemplateOutlet]="item.template" />
    }
  </div>
}

<main class="dc-main__content">
  <ng-content />
</main>
