<div style="min-height: 100%; align-content: center">
  @for (item of items; track $index) {
    @if ($first) {
      <p style="text-align: center">
        <button (click)="sideService.toggleSidenav()">Sidenav</button>
        <button (click)="sideService.toggleSidebar()">Sidebar</button>
      </p>
    }

    <p style="text-align: center">demo works!</p>
  }
</div>

<!--<ng-template dcLayoutSlotItem="sidenav">
  <div style="margin-top: 2rem">
    @for (item of items; track $index) {
      <p>demo works!</p>
    }
  </div>
</ng-template>-->

<ng-template dcLayoutSlotItem="sidebar">
  <div style="min-height: 100%; align-content: center">
    @for (item of items; track $index) {
      <p>demo works!</p>
    }
  </div>
</ng-template>
