$transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1); // Duplicate from Material

.dc-main-menu {
  --dc-main-menu-item-gutter: 1rem;

  position: relative;
  display: flex;
  font-size: 1rem;

  &--vertical {
    flex-direction: column;
    align-items: stretch;
  }

  // ----- indicator -----

  &::after {
    content: '';
    position: absolute;
    border: 0 solid var(--mat-sys-primary);
    transition: $transition;
  }
  &--horizontal::after {
    border-bottom-width: 3px;
    bottom: 0;
    left: calc(var(--dc-main-menu-indicator-offset) + var(--dc-main-menu-item-gutter));
    width: calc(var(--dc-main-menu-indicator-size) - 2 * var(--dc-main-menu-item-gutter));
    transition-property: left, width;
  }
  &--vertical::after {
    border-left-width: 3px;
    left: 0;
    top: calc(var(--dc-main-menu-indicator-offset) + var(--dc-main-menu-item-gutter));
    height: calc(var(--dc-main-menu-indicator-size) - 2 * var(--dc-main-menu-item-gutter));
    transition-property: top, height;
  }

  // ----- item -----

  &__item {
    // CSS reset
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    line-height: inherit;
    text-align: start;
    text-decoration: none;
    font: inherit;

    box-sizing: border-box;
    display: flex;
    gap: 0.25rem;
    align-items: center;

    transition: background-color $transition;

    &:hover {
      background-color: rgba(from var(--mat-sys-primary) r g b / 0.08);
    }
    &:active,
    &:focus {
      background-color: transparent;
    }

    &--active {
      color: var(--mat-sys-primary);
    }
  }

  &--horizontal &__item {
    padding: 0.5rem var(--dc-main-menu-item-gutter);
  }
  &--vertical &__item {
    padding: var(--dc-main-menu-item-gutter) 3rem var(--dc-main-menu-item-gutter) 0.75rem;
  }
}
