$transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1); // Duplicate from Material

.dc-side-menu-node {
  --dc-side-menu-node-indent: 1rem;

  display: block;

  &--hidden {
    display: none;
  }

  &,
  &__li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    padding-left: calc(
      0.75rem + var(--dc-side-menu-node-level, 0) * var(--dc-side-menu-node-indent)
    );

    border: none;
    background: none;
    color: inherit;
    text-decoration: none;
    font: inherit;
    text-align: start;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    transition: background-color $transition;

    &:hover {
      background-color: rgba(from var(--mat-sys-primary) r g b / 0.08);
    }
    &:active,
    &:focus {
      background-color: transparent;
    }

    &--active {
      color: var(--mat-sys-primary);
    }
  }

  &__chevron {
    margin-left: auto;
  }

  &__label {
    flex: 1;
    min-width: 0;
  }
}
