@let data = _data();
@let childrenIdMap = children.idMap();

@if (data.level === 0 && !toolbarHidden() && childrenIdMap.size >= toolbarThreshold()) {
  <div class="dc-side-menu__toolbar">
    @if (children.expandedSet().size) {
      <button matButton (click)="children.collapseAll()">
        Collapse all
        <mat-icon iconPositionEnd>indeterminate_check_box</mat-icon>
      </button>
    } @else {
      <button matButton (click)="children.expandAll()">
        Expand all
        <mat-icon iconPositionEnd>add_box</mat-icon>
      </button>
    }
  </div>
}

<ul
  class="dc-side-menu__ul"
  [style.--dc-side-menu-level]="data.level"
  [attr.role]="data.level === 0 ? 'navigation' : null"
  [attr.id]="data.id"
>
  @for (item of items(); track $index) {
    <li class="dc-side-menu__li">
      @if (isMenuItem.children(item)) {
        @let expanded = children.expandedSet().has(item);
        @let id = childrenIdMap.get(item);

        <button
          matRipple
          type="button"
          class="dc-side-menu__item"
          [aria-expanded]="expanded"
          [aria-controls]="id"
          (click)="children.toggle(item)"
        >
          <ng-container
            [ngTemplateOutlet]="itemTmpl"
            [ngTemplateOutletContext]="{ $implicit: item }"
          />

          <mat-icon
            class="dc-side-menu__chevron"
            [class.dc-side-menu__chevron--expanded]="expanded"
            dcIcon
            size="md"
          >
            {{ 'chevron_right' }}
          </mat-icon>
        </button>

        <dc-side-menu
          class="dc-side-menu--nested"
          [class.dc-side-menu--nested-hidden]="!expanded"
          [items]="item.children"
          [_data]="{ level: data.level + 1, id }"
          (activeRouterLink)="propagateActiveRouterLink(item, $event)"
        />
      } @else if (isMenuItem.routerLink(item)) {
        <a
          matRipple
          class="dc-side-menu__item"
          routerLinkActive="dc-side-menu__item--active"
          [routerLinkActiveOptions]="item.routerLinkActiveOptions ?? { exact: false }"
          [routerLink]="item.routerLink"
          [queryParams]="item.queryParams"
          (isActiveChange)="$event ? activeRouterLink.emit(item) : null"
        >
          <ng-container
            [ngTemplateOutlet]="itemTmpl"
            [ngTemplateOutletContext]="{ $implicit: item }"
          />
        </a>
      } @else if (isMenuItem.href(item)) {
        <a matRipple class="dc-side-menu__item" [href]="item.href" [attr.target]="item.target">
          <ng-container
            [ngTemplateOutlet]="itemTmpl"
            [ngTemplateOutletContext]="{ $implicit: item }"
          />
        </a>
      } @else if (isMenuItem.command(item)) {
        <button matRipple type="button" class="dc-side-menu__item" (click)="item.command()">
          <ng-container
            [ngTemplateOutlet]="itemTmpl"
            [ngTemplateOutletContext]="{ $implicit: item }"
          />
        </button>
      }
    </li>
  }
</ul>

<ng-template #itemTmpl let-item>
  @if (item.icon) {
    <mat-icon dcIcon size="md">{{ item.icon }}</mat-icon>
  }
  <span class="dc-side-menu__label">{{ item.label }}</span>
</ng-template>
