@for (item of items(); track $index) {
  <li class="dc-side-menu-node__li">
    @if (isMenuItem.children(item)) {
      @let uid = getUid(item);

      <button
        matRipple
        type="button"
        class="dc-side-menu-node__item dc-side-menu-node__item--parent"
        [aria-expanded]="state.expanded().has(item)"
        [aria-controls]="uid"
        (click)="state.toggle(item)"
      >
        <ng-container
          [ngTemplateOutlet]="itemTmpl"
          [ngTemplateOutletContext]="{ $implicit: item }"
        />

        <mat-icon class="dc-side-menu-node__chevron">
          {{ state.expanded().has(item) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>

      <ul
        dcSideMenuNode
        [items]="item.children"
        [level]="level() + 1"
        [id]="uid"
        [class.dc-side-menu-node--hidden]="!state.expanded().has(item)"
      ></ul>
    } @else if (isMenuItem.routerLink(item)) {
      <a
        matRipple
        class="dc-side-menu-node__item"
        routerLinkActive="dc-side-menu-node__item--active"
        [routerLinkActiveOptions]="item.routerLinkActiveOptions ?? { exact: false }"
        [routerLink]="item.routerLink"
        [queryParams]="item.queryParams"
      >
        <ng-container
          [ngTemplateOutlet]="itemTmpl"
          [ngTemplateOutletContext]="{ $implicit: item }"
        />
      </a>
    } @else if (isMenuItem.href(item)) {
      <a matRipple class="dc-side-menu-node__item" [href]="item.href" [attr.target]="item.target">
        <ng-container
          [ngTemplateOutlet]="itemTmpl"
          [ngTemplateOutletContext]="{ $implicit: item }"
        />
      </a>
    } @else if (isMenuItem.command(item)) {
      <button matRipple type="button" class="dc-side-menu-node__item" (click)="item.command()">
        <ng-container
          [ngTemplateOutlet]="itemTmpl"
          [ngTemplateOutletContext]="{ $implicit: item }"
        />
      </button>
    }
  </li>
}

<ng-template #itemTmpl let-item>
  @if (item.icon) {
    <mat-icon dcIcon>{{ item.icon }}</mat-icon>
  }
  <span class="dc-side-menu-node__label">{{ item.label }}</span>
</ng-template>
