$transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1); // Duplicate from Material

.dc-side-menu {
  --dc-side-menu-gutter: 0.75rem;
  --dc-side-menu-indent: 1rem;

  display: block;

  &--hidden {
    display: none;
  }

  &__toolbar {
    --mat-button-text-container-shape: 0.25rem;
    --mat-button-text-container-height: 2em;
    --mat-button-text-with-icon-horizontal-padding: var(--dc-side-menu-gutter);
    --mat-button-text-label-text-weight: var(--mat-sys-label-medium-weight);
    --mat-button-text-label-text-size: var(--mat-sys-label-medium-size);
    --mat-button-text-label-text-font: var(--mat-sys-label-medium-font);
    --mat-button-text-label-text-tracking: var(--mat-sys-label-medium-tracking);
    --mat-button-text-icon-spacing: 0.375em;

    text-align: end;
  }

  &__ul,
  &__li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    // CSS reset
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
    text-align: start;
    text-decoration: none;
    font: inherit;

    padding-block: calc(var(--dc-side-menu-gutter) * 2 / 3);
    padding-right: var(--dc-side-menu-gutter);
    padding-left: calc(
      var(--dc-side-menu-gutter) + var(--dc-side-menu-level) * var(--dc-side-menu-indent)
    );

    width: 100%;
    border-radius: 0.25rem;
    box-sizing: border-box;
    display: flex;
    gap: 0.375rem;
    align-items: center;

    transition: background-color $transition;

    &:hover {
      background-color: rgba(from var(--mat-sys-primary) r g b / 0.08);
    }
    &:active,
    &:focus {
      background-color: transparent;
    }

    &--active {
      color: var(--mat-sys-primary);
    }
  }

  &__chevron {
    margin-left: auto;

    transition: $transition;
    transition-property: color, transform;

    &--expanded {
      color: var(--mat-sys-primary);
      transform: rotate(90deg);
    }
  }

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
