$transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1); // Duplicate from Material

.dc-sidenav {
  height: 100%;
  overflow: hidden;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr;
  grid-auto-flow: rows;

  &__header {
    padding-right: var(--dc-layout-gutter-outer);
    transition: padding-right $transition;

    @media (width < 600px) {
      padding-right: 0;
    }
  }

  &__content {
    box-sizing: border-box;
    height: 100%;
    position: relative;
    overflow: auto;
    padding: var(--dc-layout-gutter-outer);
    padding-bottom: 0;
  }
}
