@let sidenav = ('sidenav' | dcLayoutRegion)();

<mat-toolbar class="dc-layout__header" role="heading">
  <button
    matIconButton
    aria-label="Toggle Sidenav"
    [disabled]="!sidenav.length"
    (click)="sideService.toggleSidenav()"
  >
    <mat-icon>
      @if (sideService.sidenavOpened()) {
        menu_open
      } @else {
        menu
      }
    </mat-icon>
  </button>

  @for (item of ('headerLeft' | dcLayoutRegion)(); track item) {
    <ng-container [ngTemplateOutlet]="item.template" />
  }

  <div class="dc-layout__header-center">
    @for (item of ('headerCenter' | dcLayoutRegion)(); track item) {
      <ng-container [ngTemplateOutlet]="item.template" />
    }
  </div>

  @for (item of ('headerRight' | dcLayoutRegion)(); track item) {
    <ng-container [ngTemplateOutlet]="item.template" />
  }
</mat-toolbar>

<mat-drawer-container
  class="dc-layout__container"
  [hasBackdrop]="sideService.hasBackdrop()"
  (backdropClick)="sideService.toggleSidenav(false); sideService.toggleSidebar(false)"
  #drawerContainer
>
  <mat-drawer
    class="dc-layout__sidenav"
    [class.dc-layout__sidenav--width-shadow]="
      !!sidenav.length &&
      sideService.sidenavOpened() &&
      sideService.sidebarOpened() &&
      config().sidebarDesktopMode === 'push'
    "
    role="complementary"
    [mode]="sideService.sidenavMode()"
    [opened]="!!sidenav.length && sideService.sidenavOpened()"
  >
    @for (item of sidenav; track item) {
      <ng-container [ngTemplateOutlet]="item.template" />
    }
  </mat-drawer>

  <mat-drawer-content>
    <div
      class="dc-layout__content"
      [class.dc-layout__content--width-sidenav-opened]="sideService.sidenavOpened()"
      [class.dc-layout__content--width-sidebar-opened]="sideService.sidebarOpened()"
    >
      @let panelLeft = ('panelLeft' | dcLayoutRegion)();
      @if (panelLeft.length) {
        <div class="dc-layout__panel dc-layout__panel--left">
          @for (item of panelLeft; track item) {
            <ng-container [ngTemplateOutlet]="item.template" />
          }
        </div>
      }

      @let panelRight = ('panelRight' | dcLayoutRegion)();
      @if (panelRight.length) {
        <div class="dc-layout__panel dc-layout__panel--right">
          @for (item of panelRight; track item) {
            <ng-container [ngTemplateOutlet]="item.template" />
          }
        </div>
      }

      <main class="dc-layout__main">
        <ng-content />
      </main>
    </div>
  </mat-drawer-content>

  @let sidebar = ('sidebar' | dcLayoutRegion)();
  <mat-drawer
    class="dc-layout__sidebar"
    role="complementary"
    position="end"
    [mode]="sideService.sidebarMode()"
    [opened]="!!sidebar.length && sideService.sidebarOpened()"
  >
    <div class="dc-layout__sidebar-inner">
      @for (item of sidebar; track item) {
        <ng-container [ngTemplateOutlet]="item.template" />
      }
    </div>
  </mat-drawer>
</mat-drawer-container>
