@let sidenav = ('sidenav' | dcLayoutRegion)();

<dc-header class="dc-layout__header" />

@let mobileMenu = ('mobileMenu' | dcLayoutRegion)();
@if (mobileMenuService.opened()) {
  <div
    class="dc-layout__mobile-menu"
    animate.enter="dc-layout__mobile-menu--enter"
    animate.leave="dc-layout__mobile-menu--leave"
    cdkTrapFocus
  >
    @for (item of mobileMenu; track item) {
      <ng-container [ngTemplateOutlet]="item.template" />
    }
  </div>
}

@if (sidenav.length) {
  <button
    class="dc-layout__sidenav-toggle-open"
    dcSidenavToggle="open"
    [openCollapsed]="sideService.sidenavOpened()"
    (click)="sideService.toggleSidenav()"
  >
    Sidenav
  </button>
}

<mat-drawer-container
  class="dc-layout__container"
  [hasBackdrop]="sideService.hasBackdrop()"
  #drawerContainer
>
  <mat-drawer
    class="dc-layout__sidenav"
    [class.dc-layout__sidenav--width-shadow]="
      sideService.sidenavOpened() &&
      (sideService.isMobile() ||
        (sideService.sidebarOpened() && config().sidebarDesktopMode === 'push'))
    "
    role="complementary"
    [mode]="sideService.sidenavMode()"
    [opened]="sideService.sidenavOpened()"
    (closedStart)="sideService.toggleSidenav(false)"
  >
    <dc-sidenav />
  </mat-drawer>

  <mat-drawer-content>
    <dc-main
      class="dc-layout__main"
      [class.dc-layout__main--width-sidenav-opened]="
        sideService.sidenavOpened() && !sideService.isMobile()
      "
      [class.dc-layout__main--width-sidebar-opened]="sideService.sidebarOpened()"
    >
      <ng-content />
    </dc-main>
  </mat-drawer-content>

  <mat-drawer
    class="dc-layout__sidebar"
    role="complementary"
    position="end"
    [mode]="sideService.sidebarMode()"
    [opened]="sideService.sidebarOpened()"
  >
    <dc-sidebar />
  </mat-drawer>
</mat-drawer-container>
