@let sidenav = ('sidenav' | dcLayoutRegion)();

<mat-toolbar class="dc-layout__header" role="heading">
  @for (item of ('headerLeft' | dcLayoutRegion)(); track item) {
    <ng-container [ngTemplateOutlet]="item.template" />
  }

  <div class="dc-layout__header-center">
    @for (item of ('headerCenter' | dcLayoutRegion)(); track item) {
      <ng-container [ngTemplateOutlet]="item.template" />
    }
  </div>

  @for (item of ('headerRight' | dcLayoutRegion)(); track item) {
    <ng-container [ngTemplateOutlet]="item.template" />
  }
</mat-toolbar>

@if (sidenav.length) {
  <button
    class="dc-layout__sidenav-open-btn"
    dcSidenavTrigger="open"
    [openCollapsed]="sideService.sidenavOpened()"
    (click)="sideService.toggleSidenav()"
  >
    Sidenav
  </button>
}

<mat-drawer-container
  class="dc-layout__container"
  [hasBackdrop]="sideService.hasBackdrop()"
  #drawerContainer
>
  <mat-drawer
    class="dc-layout__sidenav"
    [class.dc-layout__sidenav--width-shadow]="
      sideService.sidenavOpened() &&
      (sideService.isMobile() ||
        (sideService.sidebarOpened() && config().sidebarDesktopMode === 'push'))
    "
    role="complementary"
    [mode]="sideService.sidenavMode()"
    [opened]="sideService.sidenavOpened()"
    (closedStart)="sideService.toggleSidenav(false)"
  >
    <div class="dc-layout__sidenav-inner">
      <div class="dc-layout__sidenav-header">
        <button dcSidenavTrigger="close" (click)="sideService.toggleSidenav()">Sidenav</button>
      </div>
      <div class="dc-layout__sidenav-content">
        @for (item of sidenav; track item) {
          <ng-container [ngTemplateOutlet]="item.template" />
        }
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div
      class="dc-layout__content"
      [class.dc-layout__content--width-sidenav-opened]="
        sideService.sidenavOpened() && !sideService.isMobile()
      "
      [class.dc-layout__content--width-sidebar-opened]="sideService.sidebarOpened()"
    >
      @let panelLeft = ('panelLeft' | dcLayoutRegion)();
      @if (panelLeft.length) {
        <div class="dc-layout__panel dc-layout__panel--left">
          @for (item of panelLeft; track item) {
            <ng-container [ngTemplateOutlet]="item.template" />
          }
        </div>
      }

      @let panelRight = ('panelRight' | dcLayoutRegion)();
      @if (panelRight.length) {
        <div class="dc-layout__panel dc-layout__panel--right">
          @for (item of panelRight; track item) {
            <ng-container [ngTemplateOutlet]="item.template" />
          }
        </div>
      }

      <main class="dc-layout__main">
        <ng-content />
      </main>
    </div>
  </mat-drawer-content>

  @let sidebar = ('sidebar' | dcLayoutRegion)();
  <mat-drawer
    class="dc-layout__sidebar"
    role="complementary"
    position="end"
    [mode]="sideService.sidebarMode()"
    [opened]="sideService.sidebarOpened()"
  >
    <div class="dc-layout__sidebar-inner">
      <div class="dc-layout__sidebar-content">
        @for (item of sidebar; track item) {
          <ng-container [ngTemplateOutlet]="item.template" />
        }
      </div>
    </div>
  </mat-drawer>
</mat-drawer-container>
