:root {
  --dc-layout-gutter-outer: 0.75rem;
  --dc-layout-gutter-inner: 1.25rem;
  --dc-layout-radius: var(--mat-sys-corner-medium);
  --dc-layout-background-color: var(--mat-sys-secondary-container);
  --dc-layout-text-color: var(--mat-sys-on-secondary-container);
}

// Direct override
//.mat-drawer-backdrop.mat-drawer-shown {
//  backdrop-filter: blur(0.25rem);
//}

$transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1); // Duplicate from Material

.dc-layout {
  --mat-toolbar-standard-height: 48px;
  --mat-toolbar-mobile-height: 42px;
  --mat-toolbar-container-background-color: var(--dc-layout-background-color);
  --mat-toolbar-container-text-color: var(--dc-layout-text-color);

  --mat-sidenav-container-shape: var(--dc-layout-radius);
  --mat-sidenav-container-background-color: var(--dc-layout-background-color);
  --mat-sidenav-container-text-color: var(--dc-layout-text-color);
  --mat-sidenav-content-background-color: var(--mat-sidenav-container-background-color);

  margin: 0 auto;
  min-width: 320px;
  max-width: 1920px;
  height: 100%;
  position: relative;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas: 'header' 'container';

  &__header {
    grid-area: header;
    padding: 0 calc(var(--dc-layout-gutter-outer) + var(--dc-layout-radius));
  }

  &__sidenav-toggle-open {
    grid-area: container;
    position: absolute;
    z-index: 2;
  }

  &__container {
    grid-area: container;
  }

  &__main-menu-mobile-content {
    grid-area: container;
    position: relative;
    z-index: 999;
    padding: var(--dc-layout-gutter-inner);
    border-top: 1px solid var(--mat-sys-outline-variant);
    background-color: color-mix(
      in srgb,
      var(--dc-layout-background-color) 65%,
      var(--mat-sys-surface)
    );
  }

  &__sidenav {
    --mat-sidenav-container-width: var(--dc-layout-sidenav-width);

    z-index: 4 !important;

    height: calc(100% - var(--dc-layout-gutter-outer));

    max-width: 100vw;
    border-right: 0px !important;
    padding-bottom: var(--dc-layout-radius);

    transition-property: transform, background-color, box-shadow !important;

    &--width-shadow {
      box-shadow: var(--mat-sys-level3) !important;
    }

    @media (width < 600px) {
      --mat-sidenav-container-background-color: color-mix(
        in srgb,
        var(--dc-layout-background-color) 65%,
        var(--mat-sys-surface)
      );
    }
  }

  &__main {
    margin-inline: var(--dc-layout-gutter-outer);

    transition: margin $transition;

    &--width-sidenav-opened {
      margin-left: 0;
    }
    &--width-sidebar-opened {
      margin-right: 0;
    }
  }

  &__sidebar {
    --mat-sidenav-container-width: var(--dc-layout-sidebar-width);
    --mat-sidenav-container-shape: 0;

    max-width: 100vw;
    border-left: 0px !important;
    padding: var(--dc-layout-gutter-outer);
    padding-top: 0;
  }
}
