.dc-sidebar {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: var(--dc-layout-radius);
  background-color: var(--mat-sys-surface);

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr;
  grid-auto-flow: row;

  timeline-scope: --dc-sidebar-scroll;

  &__header {
    padding-block: calc(var(--dc-layout-gutter-inner) / 3);
    padding-inline: var(--dc-layout-gutter-inner) calc(var(--dc-layout-gutter-inner) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    font: var(--mat-sys-title-large);

    border-bottom: 1px solid transparent;
    animation: dcSidebarHeaderBorder linear both;
    animation-timeline: --dc-sidebar-scroll;
    animation-range: 0px var(--dc-layout-gutter-inner);
  }

  &__content {
    height: 100%;
    position: relative;
    overflow: auto;
    padding: var(--dc-layout-gutter-inner);
    scroll-timeline: --dc-sidebar-scroll block;
  }
}

@keyframes dcSidebarHeaderBorder {
  to {
    border-bottom-color: var(--mat-sys-outline-variant);
  }
}
