@use 'sass:math' as math;

$content-size: 2.25rem;
$content-gutter: 0.25rem;
$full-size: $content-size + 2 * $content-gutter;

$label-offset: 0.5rem;

// Note: the size of the Angular Material `<mat-icon>` is: `24px` (which is equivalent to `1.5rem`).
$grid-gap: math.div($full-size - 1.5rem, 2);

$transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
$transition-delay: 200ms;

.dc-sidenav-trigger {
  // Button reset
  border: none;
  line-height: inherit;
  font: inherit;
  text-align: start;
  cursor: pointer;

  display: grid;
  grid-template-columns: min-content minmax(0, 1fr);
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: $grid-gap;

  box-sizing: border-box;
  height: $content-size;
  padding: 0 $grid-gap;

  border-radius: 0 99px 99px 0;
  background-color: var(--mat-sys-secondary);
  color: var(--mat-sys-on-secondary);

  &__label {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }

  // ----- Open -----

  &--open {
    width: $full-size;
    transition: $transition;
    transition-property: width, left, box-shadow;
  }

  &--open &__label {
    text-overflow: clip;
    opacity: 0;
    padding-right: 0;

    transition: $transition;
    transition-property: opacity, padding-right;
  }

  // Note: we need to ignore `:hover` events on mobile device
  // (otherwise the "open" trigger will remain visible even after touching it)
  // More infos: https://stackoverflow.com/a/64553121
  @media (hover: hover) and (pointer: fine) {
    &--open {
      left: calc(-2 * $grid-gap);
    }

    &--open:hover:not(&--open-collapsed) {
      box-shadow: 0 1px 2px rgb(0 0 0 / 0.25);
      width: calc-size(auto, size);
      left: 0;
      transition-delay: $transition-delay;
    }

    &--open:hover:not(&--open-collapsed) &__label {
      opacity: 1;
      padding-right: $label-offset;
      transition-delay: $transition-delay;
    }
  }

  &--open-collapsed {
    left: calc(-1.5 * #{$full-size});
  }

  // ----- Close -----

  &--close {
    width: calc-size(auto, size);

    transition: $transition;
    transition-property: width, border-radius;
  }

  &--close &__label {
    padding-right: $label-offset;
    transition: padding-right $transition;
  }

  @media (width < 600px) {
    &--close {
      width: 100% !important;
      border-radius: 0;
    }

    &--close &__label {
      padding-right: 0;
    }
  }
}
