@use '@fontsource/lato/latin-400.css';
@use '@fontsource/lato/latin-700.css';

@use '@material-symbols/font-500/rounded.css';

@use '@angular/material' as mat;

html,
body {
  height: 100%;
}

html {
  overscroll-behavior: none;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Lato,
      density: -2,
    )
  );
}

body {
  color-scheme: light;

  margin: 0;

  //background-color: var(--mat-sys-surface);
  background-color: var(--dc-layout-background-color);

  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

@supports not selector(::-webkit-scrollbar) {
  // Firefox
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--mat-sys-outline) transparent;
  }
}

// Chrome based, Safari
::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}
::-webkit-scrollbar-track {
  background-color: transparent !important;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(from var(--mat-sys-outline) r g b / 0.5) !important;
  border-radius: 3px !important;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--mat-sys-outline) !important;
}
